.container {
	position: relative;
	align-items: center;
}

.icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

.disabledIcon {
	opacity: 0.5;
	pointer-events: none;
}